parameters:
    level: max
    paths:
        - src

    excludePaths:
        - src/Bundle/DependencyInjection

    ignoreErrors:
        - '#ApiPlatformSpell::transcribe\(\) should return TOutput of array<object>\|object but returns mixed#'
